/***** breakpoints *****/
.error-page-one {
  padding-top: 256px;
}
.error-page-one .btn-group {
  margin-top: 48px;
  display: flex;
  column-gap: 24px;
}

.lg-secondary {
  background: #fff;
  border: 1px solid #CFD5DE;
  padding: 18px 28px;
  font-size: 18px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.lg-primary {
  padding: 18px 28px;
  font-size: 18px;
  background: #8654E1;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 8px;
}

.md-secondary {
  background: #fff;
  border: 1px solid #CFD5DE;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.md-primary {
  background: #8654E1;
  color: #fff;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 8px;
  text-transform: capitalize;
}

.button-group {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
  margin-top: 20px;
}

.profile-card {
  width: 400px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  border: 1px solid #CFD5DE;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.profile-card .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px 20px 20px;
}
.profile-card .title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.profile-card .profile {
  margin-top: -80px;
}
.profile-card .profile .info {
  margin-top: -10px;
  margin-bottom: 20px;
}
.profile-card .profile .username {
  font-size: 24px;
  font-weight: 500;
}
.profile-card .profile .email {
  font-size: 14px;
  color: #445469;
  margin-top: 6px;
}
.profile-card .about {
  margin-top: 24px;
}
.profile-card .about p {
  color: #475467;
  font-size: 14px;
  margin-top: 6px;
  line-height: 1.25rem;
}
.profile-card .experience {
  margin-top: 24px;
}
.profile-card h1.section-title {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
}
.profile-card .card-body {
  padding: 24px;
}
.profile-card .work-history-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.profile-card .work-history-list li {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.profile-card .work-history-list li .position {
  font-size: 14px;
  font-weight: 500;
  color: #314056;
}
.profile-card .work-history-list li .company-name {
  font-size: 14px;
  color: #445469;
  text-transform: capitalize;
}
.profile-card .work-history-list li .date {
  font-size: 14px;
  color: #445469;
  margin-top: 20px;
}
.profile-card .icon {
  margin-right: 15px;
}

.badge-group {
  display: flex;
  column-gap: 16px;
  margin-bottom: 40px;
  font-size: 12px;
}

.design-badge {
  background: #FAF5FF;
  color: #703FCD;
  padding: 2px 8px;
  border: 1px solid #703FCD;
  border-radius: 16px;
}
.design-badge:hover {
  cursor: pointer;
}

.product-badge {
  background: #EDF8FF;
  color: #005EDB;
  padding: 2px 8px;
  border: 1px solid #005EDB;
  border-radius: 16px;
}
.product-badge:hover {
  cursor: pointer;
}

.management-badge {
  background: #FFF2FB;
  color: #D30076;
  padding: 2px 8px;
  border: 1px solid #D30076;
  border-radius: 16px;
}
.management-badge:hover {
  cursor: pointer;
}

/***** TODO: i'll figure this out when i get up in the morning *****/
.integrations {
  padding: 96px 0;
  text-align: center;
}
.integrations .row .box {
  width: 384px;
  margin-bottom: 64px;
}
.integrations .view {
  color: #8654E1;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}
.integrations .title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
.integrations .desc {
  margin-bottom: 20px;
  color: #475467;
}

/***** breakpoints *****/
.dropdown-menu {
  width: 240px;
  display: flex;
  flex-direction: row;
}
.dropdown-menu header {
  width: 240px;
}
.dropdown-menu header .profile {
  display: flex;
}

section {
  padding-top: 96px;
  overflow: hidden;
}

.showcase {
  background: #FAF5FF;
  text-align: center;
  height: 390px;
}

.blog-post {
  width: 384px;
  background: #fff;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}
.blog-post .featured-img {
  padding: 24px 24px 0 24px;
}
.blog-post .post-info {
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.blog-post .post-info .category {
  text-transform: capitalize;
  color: #8654E1;
  margin-bottom: 12px;
}
.blog-post .post-info a {
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 8;
  line-height: 1.5rem;
  color: #0D1829;
  text-transform: capitalize;
}
.blog-post .post-info a:hover {
  color: #8654E1;
}
.blog-post .post-info .post-body p {
  margin-top: 8px;
  color: #445469;
  line-height: 1.5rem;
}
.blog-post .post-info .post-body {
  margin-top: -10px;
}
.blog-post .post-footer {
  display: flex;
  padding-left: 24px;
  padding-bottom: 24px;
  margin-top: 10px;
}
.blog-post .post-footer .author-profile {
  margin-right: 12px;
}
.blog-post .post-footer .author-name {
  text-transform: capitalize;
  color: #0D1829;
  font-weight: 500;
}
.blog-post .post-footer .post-date {
  font-size: 14px;
  color: #445469;
  margin-top: 3px;
}

.blog-posts {
  margin-top: -475px;
}

.badge-purple {
  background: #F5EBFF;
  color: #6E3BCD;
  text-transform: capitalize;
  border: 1px solid #6E3BCD;
  font-size: 14px;
  padding: 2px 10px;
  border-radius: 16px;
  display: inline-flex;
}

.input-bg {
  background: #fff;
  display: inline-flex;
  padding: 5px 30px;
  width: 320px;
  height: 48px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  margin-top: 40px;
  border-radius: 8px;
}
.input-bg input {
  border: none;
  color: #647087;
  font-size: 16px;
  width: 100%;
}
.input-bg input:focus {
  outline: none;
}
.input-bg input::-webkit-input-placeholder {
  color: #647087;
}

.ct {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.customers-table-card {
  height: 641px;
  margin: 50px auto 0 auto;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border: 1px solid #CFD5DE;
}
.customers-table-card .card-header {
  width: 100%;
  height: 93px;
  padding: 20px 0 0 24px;
  border-bottom: 1px solid #CFD5DE;
}
.customers-table-card h1 {
  text-transform: capitalize;
  font-weight: 500;
}
.customers-table-card .customers-table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
.customers-table-card .customers-table tr {
  width: 100%;
  text-transform: capitalize;
  font-size: 12px;
  color: #445469;
  letter-spacing: 0.5px;
}
.customers-table-card .customers-table td:nth-child(1) {
  width: 296px;
}
.customers-table-card .customers-table td:nth-child(2) {
  width: 152px;
}
.customers-table-card .customers-table td:nth-child(3) {
  width: 320px;
}
.customers-table-card .customers-table th {
  background: #F9FAFB;
  border-bottom: 1px solid #CFD5DE;
}
.customers-table-card .customers-table th:nth-child(1), .customers-table-card .customers-table th:nth-child(2), .customers-table-card .customers-table th:nth-child(3), .customers-table-card .customers-table th:nth-child(4), .customers-table-card .customers-table th:nth-child(5) {
  padding: 13px 24px;
}
.customers-table-card .sub-heading {
  color: #445469;
  margin-top: 3px;
}

.section-title {
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  color: #8654E1;
  font-size: 48px;
  margin-top: 96px;
}

.team-member {
  width: 280px;
  text-align: left;
}
.team-member .profile {
  width: 100%;
  height: 296px;
}
.team-member:nth-child(1) {
  position: relative;
  top: 20px;
}

.team {
  text-align: center;
}
.team .button-group {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 64px;
}
.team .button-group button {
  text-transform: capitalize;
}

.invoice,
.customers {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.invoice h1,
.customers h1 {
  margin-bottom: 0px;
}
.invoice .invoice-table-card,
.invoice .customer-table-card,
.customers .invoice-table-card,
.customers .customer-table-card {
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
  border: 1px solid #CFD5DE;
}
.invoice .invoice-table-card .card-header,
.invoice .customer-table-card .card-header,
.customers .invoice-table-card .card-header,
.customers .customer-table-card .card-header {
  padding: 24px;
}
.invoice .invoice-table-card .invoice-table,
.invoice .invoice-table-card .customers-table,
.invoice .customer-table-card .invoice-table,
.invoice .customer-table-card .customers-table,
.customers .invoice-table-card .invoice-table,
.customers .invoice-table-card .customers-table,
.customers .customer-table-card .invoice-table,
.customers .customer-table-card .customers-table {
  width: 100%;
  border-collapse: collapse;
}
.invoice .invoice-table-card .invoice-table tr,
.invoice .invoice-table-card .customers-table tr,
.invoice .customer-table-card .invoice-table tr,
.invoice .customer-table-card .customers-table tr,
.customers .invoice-table-card .invoice-table tr,
.customers .invoice-table-card .customers-table tr,
.customers .customer-table-card .invoice-table tr,
.customers .customer-table-card .customers-table tr {
  text-align: left;
}
.invoice .invoice-table-card .invoice-table input[type=checkbox],
.invoice .invoice-table-card .customers-table input[type=checkbox],
.invoice .customer-table-card .invoice-table input[type=checkbox],
.invoice .customer-table-card .customers-table input[type=checkbox],
.customers .invoice-table-card .invoice-table input[type=checkbox],
.customers .invoice-table-card .customers-table input[type=checkbox],
.customers .customer-table-card .invoice-table input[type=checkbox],
.customers .customer-table-card .customers-table input[type=checkbox] {
  margin-right: 6px;
}
.invoice .invoice-table-card .invoice-table .profile,
.invoice .invoice-table-card .customers-table .profile,
.invoice .customer-table-card .invoice-table .profile,
.invoice .customer-table-card .customers-table .profile,
.customers .invoice-table-card .invoice-table .profile,
.customers .invoice-table-card .customers-table .profile,
.customers .customer-table-card .invoice-table .profile,
.customers .customer-table-card .customers-table .profile {
  float: left;
  margin-right: 10px;
}
.invoice .invoice-table-card .invoice-table .user-name,
.invoice .invoice-table-card .customers-table .user-name,
.invoice .customer-table-card .invoice-table .user-name,
.invoice .customer-table-card .customers-table .user-name,
.customers .invoice-table-card .invoice-table .user-name,
.customers .invoice-table-card .customers-table .user-name,
.customers .customer-table-card .invoice-table .user-name,
.customers .customer-table-card .customers-table .user-name {
  font-weight: 600;
  text-transform: capitalize;
}
.invoice .invoice-table-card .invoice-table .email,
.invoice .invoice-table-card .customers-table .email,
.invoice .customer-table-card .invoice-table .email,
.invoice .customer-table-card .customers-table .email,
.customers .invoice-table-card .invoice-table .email,
.customers .invoice-table-card .customers-table .email,
.customers .customer-table-card .invoice-table .email,
.customers .customer-table-card .customers-table .email {
  color: #445469;
  margin-top: 3px;
}
.invoice .invoice-table-card .invoice-table th,
.invoice .invoice-table-card .customers-table th,
.invoice .customer-table-card .invoice-table th,
.invoice .customer-table-card .customers-table th,
.customers .invoice-table-card .invoice-table th,
.customers .invoice-table-card .customers-table th,
.customers .customer-table-card .invoice-table th,
.customers .customer-table-card .customers-table th {
  text-align: left;
  background: #F9FAFB;
  border-bottom: 1px solid #CFD5DE;
  border-top: 1px solid #CFD5DE;
  padding: 16px 24px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.invoice .invoice-table-card .invoice-table th:nth-child(1),
.invoice .invoice-table-card .customers-table th:nth-child(1),
.invoice .customer-table-card .invoice-table th:nth-child(1),
.invoice .customer-table-card .customers-table th:nth-child(1),
.customers .invoice-table-card .invoice-table th:nth-child(1),
.customers .invoice-table-card .customers-table th:nth-child(1),
.customers .customer-table-card .invoice-table th:nth-child(1),
.customers .customer-table-card .customers-table th:nth-child(1) {
  border-left: 0;
}
.invoice .invoice-table-card .invoice-table th:nth-child(6),
.invoice .invoice-table-card .customers-table th:nth-child(6),
.invoice .customer-table-card .invoice-table th:nth-child(6),
.invoice .customer-table-card .customers-table th:nth-child(6),
.customers .invoice-table-card .invoice-table th:nth-child(6),
.customers .invoice-table-card .customers-table th:nth-child(6),
.customers .customer-table-card .invoice-table th:nth-child(6),
.customers .customer-table-card .customers-table th:nth-child(6) {
  border-right: 1px solid #CFD5DE;
}
.invoice .invoice-table-card .invoice-table td,
.invoice .invoice-table-card .customers-table td,
.invoice .customer-table-card .invoice-table td,
.invoice .customer-table-card .customers-table td,
.customers .invoice-table-card .invoice-table td,
.customers .invoice-table-card .customers-table td,
.customers .customer-table-card .invoice-table td,
.customers .customer-table-card .customers-table td {
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid #CFD5DE;
  border-top: 1px solid #CFD5DE;
  border-right: 1px solid #CFD5DE;
}
.invoice .invoice-table-card .invoice-table td:nth-child(1),
.invoice .invoice-table-card .customers-table td:nth-child(1),
.invoice .customer-table-card .invoice-table td:nth-child(1),
.invoice .customer-table-card .customers-table td:nth-child(1),
.customers .invoice-table-card .invoice-table td:nth-child(1),
.customers .invoice-table-card .customers-table td:nth-child(1),
.customers .customer-table-card .invoice-table td:nth-child(1),
.customers .customer-table-card .customers-table td:nth-child(1) {
  border-left: 0;
}
.invoice .invoice-table-card .invoice-table td:nth-child(6),
.invoice .invoice-table-card .customers-table td:nth-child(6),
.invoice .customer-table-card .invoice-table td:nth-child(6),
.invoice .customer-table-card .customers-table td:nth-child(6),
.customers .invoice-table-card .invoice-table td:nth-child(6),
.customers .invoice-table-card .customers-table td:nth-child(6),
.customers .customer-table-card .invoice-table td:nth-child(6),
.customers .customer-table-card .customers-table td:nth-child(6) {
  border-right: 0;
}
.invoice .invoice-table-card .invoice-table tbody tr td,
.invoice .invoice-table-card .customers-table tbody tr td,
.invoice .customer-table-card .invoice-table tbody tr td,
.invoice .customer-table-card .customers-table tbody tr td,
.customers .invoice-table-card .invoice-table tbody tr td,
.customers .invoice-table-card .customers-table tbody tr td,
.customers .customer-table-card .invoice-table tbody tr td,
.customers .customer-table-card .customers-table tbody tr td {
  padding: 10px 24px;
}
.invoice .customers-table-card,
.customers .customers-table-card {
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
  border: 1px solid #CFD5DE;
  width: 100%;
}
.invoice .customers-table-card .card-header,
.customers .customers-table-card .card-header {
  padding: 24px;
}
.invoice .customers-table-card .customers-table,
.customers .customers-table-card .customers-table {
  width: 100%;
  border-collapse: collapse;
}
.invoice .customers-table-card .customers-table tr,
.customers .customers-table-card .customers-table tr {
  text-align: left;
}
.invoice .customers-table-card .customers-table tbody tr td,
.customers .customers-table-card .customers-table tbody tr td {
  padding: 15px 24px;
}
.invoice .customers-table-card .customers-table input[type=checkbox],
.customers .customers-table-card .customers-table input[type=checkbox] {
  margin-right: 6px;
}
.invoice .customers-table-card .customers-table .profile,
.customers .customers-table-card .customers-table .profile {
  float: left;
  margin-right: 10px;
}
.invoice .customers-table-card .customers-table .user-name,
.customers .customers-table-card .customers-table .user-name {
  font-weight: 600;
  text-transform: capitalize;
}
.invoice .customers-table-card .customers-table .email,
.customers .customers-table-card .customers-table .email {
  color: #445469;
  margin-top: 3px;
}
.invoice .customers-table-card .customers-table th,
.customers .customers-table-card .customers-table th {
  text-align: left;
  background: #F9FAFB;
  border-bottom: 1px solid #CFD5DE;
  border-top: 1px solid #CFD5DE;
  padding: 16px 24px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.invoice .customers-table-card .customers-table th:nth-child(1),
.customers .customers-table-card .customers-table th:nth-child(1) {
  border-left: 0;
}
.invoice .customers-table-card .customers-table th:nth-child(6),
.customers .customers-table-card .customers-table th:nth-child(6) {
  border-right: 1px solid #CFD5DE;
}
.invoice .customers-table-card .customers-table td,
.customers .customers-table-card .customers-table td {
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid #CFD5DE;
  border-top: 1px solid #CFD5DE;
  border-right: 1px solid #CFD5DE;
}
.invoice .customers-table-card .customers-table td:nth-child(1),
.customers .customers-table-card .customers-table td:nth-child(1) {
  border-left: 0;
}
.invoice .customers-table-card .customers-table td:nth-child(6),
.customers .customers-table-card .customers-table td:nth-child(6) {
  border-right: 0;
}

.primary-text {
  color: #8654E1;
  font-weight: 500;
  text-transform: capitalize;
}

.utility {
  list-style: none;
  display: flex;
  column-gap: 8px;
}
.utility a {
  text-transform: capitalize;
  color: #445469;
}
.utility a.primary-text {
  color: #8654E1;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.status {
  display: flex;
}
.status .paid {
  color: #007C43;
  padding: 6px 25px;
  background: #E8FEF2;
  border: 1px solid #007c43;
  text-transform: capitalize;
  margin-top: -15px;
  border-radius: 16px;
}

body {
  height: 100vh;
}

.overlay {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #2B3645;
}
.overlay .modal-one {
  width: 400px;
  background: #fff;
}
.overlay .modal-one .modal-header {
  padding: 24px 24px 0 24px;
}
.overlay .modal-one .modal-body,
.overlay .modal-one .modal-footer {
  padding: 24px;
}
.overlay .modal-one .button-group {
  display: flex;
  margin-top: 24px;
}
.overlay .modal-one .button-group button {
  text-transform: capitalize;
}
.overlay .modal-one .button-group .md-secondary,
.overlay .modal-one .button-group .md-primary {
  padding: 10px 24px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.supportive-text {
  color: #8654E1;
  margin-bottom: 6px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
  width: 1680px;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.section-heading {
  font-size: 60px;
}

.large-text {
  font-size: 20px;
  color: #445469;
  margin-top: 24px;
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}

.icon {
  display: inline-flex;
  float: left;
}
.icon .back-icon {
  background: url("../img/back-error-icon.png") no-repeat;
  width: 24px;
  height: 24px;
  margin-top: -3px;
  margin-right: 10px;
}
.icon .close-icon {
  background: url("../img/profile/close-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .close-icon:hover {
  cursor: pointer;
}
.icon .layers-icon {
  background: url("../img/layers-icon.png") no-repeat;
  width: 48px;
  height: 48px;
}
.icon .sisyphus-icon {
  background: url("../img/sisyphus-icon.png") no-repeat;
  width: 48px;
  height: 48px;
}
.icon .catalog-icon {
  background: url("../img/catalog-icon.png") no-repeat;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.icon .notion-icon {
  background: url("../img/icons/notion-icon.png") no-repeat;
  width: 64px;
  height: 64px;
}
.icon .slack-icon {
  background: url("../img/icons/slack-icon.png") no-repeat;
  width: 64px;
  height: 64px;
}
.icon .google-drive-icon {
  background: url("../img/icons/google-drive-icon.png") no-repeat;
  width: 64px;
  height: 64px;
}
.icon .intercom-icon {
  background: url("../img/icons/intercm-icon.png") no-repeat;
  width: 64px;
  height: 64px;
}
.icon .jira-icon {
  background: url("../img/icons/jira-icon.png") no-repeat;
  width: 64px;
  height: 64px;
}
.icon .dropbox-icon {
  background: url("../img/icons/dropbox-icon.png") no-repeat;
  width: 64px;
  height: 64px;
}
.icon .user-icon {
  background: url("../img/dropdown-menu/user-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .settings-icon {
  background: url("../img/dropdown-menu/settings-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .lightning-bolt-icon {
  background: url("../img/dropdown-menu/lightning-bolt-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .email-icon {
  background: url("../img/dropdown-menu/email-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .team-icon {
  background: url("../img/dropdown-menu/team-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .invite-icon {
  background: url("../img/dropdown-menu/invite-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .change-log-icon {
  background: url("../img/dropdown-menu/change-log-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .slack-icon {
  background: url("../img/dropdown-menu/slack-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .support-icon {
  background: url("../img/dropdown-menu/support-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .api-icon {
  background: url("../img/dropdown-menu/api-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .logout-icon {
  background: url("../img/dropdown-menu/logout-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .search-icon {
  background: url("../img/blog/search-icon.png") no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 9px;
  margin-right: 10px;
}
.icon .brackets-icon {
  background: url("../img/icons/brackets.svg") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .checkmark-icon {
  background: url("../img/tables/check-mark-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}
.icon .copy-icon {
  background: url("../img/modals/copy-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}

.section-sep {
  background: url("../img/blog/abstract-bg.png") center center no-repeat;
  width: 100%;
  object-fit: cover;
  height: 462px;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 48px;
}
.row .box {
  width: 554px;
  margin-bottom: 30px;
}
