.input-card {
  display: flex;
  background: #fff;
  width: 100%;
  height: 150px;
  padding: 16px;
  column-gap: 32px;
}
.input-card label {
  display: block;
}
.input-card .email-input {
  height: 40px;
  border: 1px solid #CFD5DE;
  width: 320px;
  text-indent: 15px;
}
.input-card .input {
  margin-right: 32px;
}
.input-card .input-bg {
  border: 1px solid #CFD5DE;
  height: 40px;
  width: 320px;
  display: flex;
  flex-direction: row;
}
.input-card .input-bg .email-icon {
  margin-top: 9px;
  margin-left: 12px;
}
.input-card .input-bg input {
  height: 35px;
  margin-top: 2px;
  margin-left: 5px;
  width: 75%;
}
.input-card .input-bg .help-icon {
  margin-top: 10px;
}
.input-card .input-bg .master-card-icon {
  margin-top: 8px;
  margin-left: 10px;
}

.users {
  list-style: none;
  margin-top: 4px;
  display: flex;
}
.users .user {
  display: flex;
  flex-direction: row;
  border: 1px solid #CFD5DE;
  padding: 4px 12px;
  border-radius: 16px;
}
.users .user .username {
  font-size: 14px;
  text-transform: capitalize;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.drop-down-menu {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}
.drop-down-menu header {
  display: flex;
  padding: 12px 16px;
}
.drop-down-menu header .profile img {
  max-height: 36px;
}
.drop-down-menu header .info .user-name,
.drop-down-menu header .info .email {
  font-size: 0.875rem;
  color: #314056;
}
.drop-down-menu .card-body {
  display: flex;
  flex-direction: column;
  padding: 12px 10px;
}
.drop-down-menu .card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #CFD5DE;
}
.drop-down-menu .card-body ul li {
  display: flex;
}

.pricing-table-one {
  /***** end of pricing-table *****/
  /***** end of features *****/
}
.pricing-table-one .pricing-table {
  display: flex;
  flex-direction: column;
  padding: 96px 28px 0 112px;
}
.pricing-table-one .pricing-table .supportive-text {
  color: #8654E1;
  font-size: 0.875rem;
  margin-bottom: 12px;
}
.pricing-table-one .pricing-table .title {
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 24px;
  font-size: 3rem;
}
.pricing-table-one .pricing-table p {
  color: #314056;
  font-size: 1.25rem;
  margin-bottom: 24px;
}
.pricing-table-one .pricing-table .pricing-cards .pricing-card {
  width: 24rem;
  height: 35.625rem;
  border: 1px solid #CFD5DE;
}
.pricing-table-one .pricing-table .pricing-cards .pricing-card .card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  background: #FFFFFF;
  border-radius: 8px 8px 0 0;
  border-bottom: none;
}
.pricing-table-one .pricing-table .pricing-cards .pricing-card .card-header .title {
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.pricing-table-one .pricing-table .pricing-cards .pricing-card .card-header .price {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.pricing-table-one .pricing-table .pricing-cards .pricing-card .card-header .per-month {
  font-size: 1rem;
  color: #314056;
}
.pricing-table-one .pricing-table .pricing-cards .pricing-card .card-body {
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.pricing-table-one .pricing-table .pricing-cards .pricing-card .card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.pricing-table-one .pricing-table .pricing-cards .pricing-card .card-body li {
  display: flex;
  text-transform: capitalize;
  margin-bottom: 16px;
  color: #445469;
  font-size: 1rem;
}
.pricing-table-one .pricing-table .pricing-cards .pricing-card .card-body li .icon {
  margin-right: 10px;
}
.pricing-table-one .features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 96px 28px 60px 112px;
  background: #F9FAFB;
}
.pricing-table-one .features .feature {
  width: 24rem;
  height: 13.875rem;
  margin-left: 42px;
  margin-bottom: 64px;
  column-gap: 32px;
}
.pricing-table-one .features .feature:nth-child(1) {
  margin-left: 0;
  margin-bottom: 0;
}
.pricing-table-one .features .feature .icon {
  display: block;
}
.pricing-table-one .features .feature .title {
  font-size: 1.25rem;
  text-transform: capitalize;
  padding-top: 20px;
  margin-bottom: 8px;
}
.pricing-table-one .features .feature p {
  font-size: 1rem;
  color: #445469;
}
.pricing-table-one .features .feature .learn-more-link {
  font-size: 1rem;
  color: #8654E1;
  text-decoration: none;
  text-transform: capitalize;
}
.pricing-table-one .features .feature .learn-more {
  display: flex;
  margin-top: 20px;
}
.pricing-table-one .faq {
  padding: 96px 32px;
}
.pricing-table-one .faq .title {
  font-size: 1.125rem;
  font-weight: 600;
}
.pricing-table-one .faq .supportive-text {
  color: #8654E1;
  font-size: 2.25rem;
  font-weight: bold;
}
.pricing-table-one .faq p {
  font-size: 1.25rem;
  margin-top: 20px;
}
.pricing-table-one .faq .questions {
  margin-top: 64px;
}
.pricing-table-one .post-footer {
  display: flex;
  line-height: 38px;
}
.pricing-table-one .post-footer .logo {
  display: flex;
}
.pricing-table-one .post-footer .copyright {
  margin-left: auto;
  color: #314056;
  font-size: 0.875rem;
}

.footer-one {
  display: flex;
  flex-direction: row;
  width: 1216px;
  margin: 0 auto;
  padding-top: 64px;
}
.footer-one .col {
  width: 11rem;
  height: 15rem;
  margin-right: 32px;
}
.footer-one .col .col-title {
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: normal;
}
.footer-one .col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-one .col li {
  margin-bottom: 12px;
}
.footer-one .col a {
  text-decoration: none;
  text-transform: capitalize;
  color: #445469;
  font-size: 0.875rem;
}

header {
  display: flex;
  flex-direction: row;
  padding: 28px;
  border-bottom: 1px solid #CFD5DE;
}
header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .logo .logo-text {
  line-height: 38px;
  margin-left: 10px;
}
header .primary {
  margin-left: 40px;
}
header .primary ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
header .primary li {
  margin-right: 32px;
}
header .primary li:last-child {
  margin-right: 0;
}
header .primary a {
  text-decoration: none;
  text-transform: capitalize;
  line-height: 38px;
  color: #445469;
  font-size: 0.875rem;
}
header .system {
  margin-left: auto;
}
header .system ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
header .system li {
  margin-left: 32px;
}
header .system li:first-child {
  margin-left: 0;
}
header .system a {
  text-decoration: none;
  text-transform: capitalize;
  line-height: 38px;
  color: #445469;
  font-size: 0.875rem;
}
header .system a.primary-link {
  color: #FFFFFF;
  background: #8654E1;
  padding: 10px 18px;
  border-radius: 0.5rem;
}

/***** end of header *****/
.update-card {
  width: 456px;
  background: #FFFFFF;
  margin-left: 50px;
  margin-top: 50px;
  padding-bottom: 10px;
  border: 1px solid #CFD5DE;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}
.update-card .card-header {
  padding: 24px;
}
.update-card .card-header .featured-img {
  background: url("../img/featured-img.png") no-repeat;
  width: 25.5rem;
  height: 15.875rem;
}
.update-card .card-body {
  padding: 24px;
}
.update-card .card-body .title {
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.update-card .card-body .update-payment-form label {
  font-size: 0.875rem;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.update-card .card-body .update-payment-form .user-name-container {
  margin-right: 16px;
  /***** end of .input-bg *****/
}
.update-card .card-body .update-payment-form .user-name-container .input-bg {
  margin-bottom: 20px;
  margin-top: 8px;
}
.update-card .card-body .update-payment-form .user-name-container .input-bg.user-input {
  width: 16.25rem;
  height: 2.75rem;
  border: 1px solid #CFD5DE;
  border-radius: 8px;
}
.update-card .card-body .update-payment-form .user-name-container .input-bg.user-input input {
  width: 100%;
  height: 80%;
  margin-top: 4px;
  padding-left: 16px;
}
.update-card .card-body .update-payment-form .user-name-container .input-bg.user-input input:focus {
  outline: none;
}
.update-card .card-footer {
  padding: 24px;
}
.update-card .card-footer .button-group {
  display: flex;
}
.update-card .card-footer .button-group button {
  margin-right: 4%;
}
.update-card .card-footer .button-group button.lg-secondary {
  width: 12.5rem;
  height: 2.75rem;
  border: 1px solid #CFD5DE;
  border-radius: 8px;
  background: #FFFFFF;
  color: #314056;
  text-transform: capitalize;
  font-size: 0.875rem;
}
.update-card .card-footer .button-group button.lg-primary {
  width: 12.5rem;
  height: 2.75rem;
  border: 1px solid #8654E1;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
  background: #8654E1;
  color: #FFFFFF;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.875rem;
}
.update-card .card-footer .button-group button:hover {
  cursor: pointer;
}
.update-card .card-footer button {
  width: 48%;
}

.card-expire {
  width: 7.1875rem;
  height: 2.75rem;
  border: 1px solid #CFD5DE;
  border-radius: 8px;
  margin-top: 8px;
}
.card-expire input {
  width: 100%;
  height: 80%;
  margin-top: 4px;
  padding-left: 16px;
}
.card-expire input:focus {
  outline: none;
}

.card-number {
  width: 16.25rem;
  height: 2.75rem;
  border: 1px solid #CFD5DE;
  border-radius: 8px;
  margin-right: 16px;
  margin-top: 8px;
}
.card-number input {
  width: 100%;
  height: 80%;
  margin-top: 4px;
  padding-left: 16px;
}
.card-number input:focus {
  outline: none;
}

.card-cvv {
  width: 7.1875rem;
  height: 2.75rem;
  border: 1px solid #CFD5DE;
  border-radius: 8px;
  margin-top: 8px;
}
.card-cvv input {
  width: 100%;
  height: 80%;
  margin-top: 4px;
  padding-left: 16px;
}
.card-cvv input:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
}
body.menu {
  background: #FFFFFF;
}
body.update-payment-body {
  background: #F2F4F7;
}

.container {
  width: 1600px;
  margin: 0 auto;
}
.container .inner-container {
  width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

input {
  border: 1px solid transparent;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
}

button {
  border: 0;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

.md-secondary {
  display: flex;
  padding: 10px 16px;
  background: #FFFFFF;
  line-height: 16px;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 8px;
  border: 1px solid #CFD5DE;
}
.md-secondary .chevron-down {
  background: url("../img/icons/chevron-down.svg") no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  perspective: 1000px;
}

.email-icon {
  background: url("../img/email-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.help-icon {
  background: url("../img/help-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.master-card-icon {
  background: url("../img/icons/master-card-icon.svg") no-repeat;
  width: 34px;
  height: 24px;
}

.small-clsoe-icon {
  background: url("../img/small-close-icon.svg") no-repeat;
  width: 16px;
  height: 16px;
}

.api-icon {
  background: url("../img/icons/api-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.change-log-icon {
  background: url("../img/icons/change-log-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.chevron-down {
  background: url("../img/icons/chevron-down.svg") no-repeat;
  width: 10px;
  height: 5px;
}

.email-icon-two {
  background: url("../img/icons/email-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.invite-icon {
  background: url("../img/icons/invite-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.lightning-bolt-icon {
  background: url("../img/icons/lightning-bolt-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.logout-icon {
  background: url("../img/icons/logout-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.settings-icon {
  background: url("../img/icons/settings-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.slack-icon {
  background: url("../img/icons/slack-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.support-icon {
  background: url("../img/icons/support-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.team-icon {
  background: url("../img/icons/team-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.user-icon {
  background: url("../img/icons/user-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.share-team-inbox-icon {
  background: url("../img/icons/share-team-inbox-icon.svg") no-repeat;
  width: 3rem;
  height: 3rem;
}

.instant-delivery-icon {
  background: url("../img/icons/instant-delivery-icon.svg") no-repeat;
  width: 3rem;
  height: 3rem;
}

.manage-team-icon {
  background: url("../img/icons/manage-team-icon.svg") no-repeat;
  width: 3rem;
  height: 3rem;
}

.connect-with-customers-icon {
  background: url("../img/icons/connected-with-customers-icon.svg") no-repeat;
  width: 3rem;
  height: 3rem;
}

.connect-with-tools-icon {
  background: url("../img/icons/connect-with-tools-icon.svg") no-repeat;
  width: 3rem;
  height: 3rem;
}

.message-heart-icon {
  background: url("../img/icons/message-heart-icon.svg") no-repeat;
  width: 3rem;
  height: 3rem;
}

.learn-more-icon {
  background: url("../img/icons/learn-more-icon.svg") no-repeat;
  width: 1.25rem;
  height: 1.25rem;
}

.list-icon {
  background: url("../img/icons/list-icon.svg") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}
