.input-card {
  display: flex;
  background: #fff;
  width: 100%;
  height: 150px;
  padding: 16px;
  column-gap: 32px;
}
.input-card label {
  display: block;
}
.input-card .email-input {
  height: 40px;
  border: 1px solid #CFD5DE;
  width: 320px;
  text-indent: 15px;
}
.input-card .input {
  margin-right: 32px;
}
.input-card .input-bg {
  border: 1px solid #CFD5DE;
  height: 40px;
  width: 320px;
  display: flex;
  flex-direction: row;
}
.input-card .input-bg .email-icon {
  margin-top: 9px;
  margin-left: 12px;
}
.input-card .input-bg input {
  height: 35px;
  margin-top: 2px;
  margin-left: 5px;
  width: 75%;
}
.input-card .input-bg .help-icon {
  margin-top: 10px;
}
.input-card .input-bg .master-card-icon {
  margin-top: 8px;
  margin-left: 10px;
}

.users {
  list-style: none;
  margin-top: 4px;
  display: flex;
}
.users .user {
  display: flex;
  flex-direction: row;
  border: 1px solid #CFD5DE;
  padding: 4px 12px;
  border-radius: 16px;
}
.users .user .username {
  font-size: 14px;
  text-transform: capitalize;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.drop-down-menu {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}
.drop-down-menu header {
  display: flex;
  padding: 12px 16px;
}
.drop-down-menu header .profile img {
  max-height: 36px;
}
.drop-down-menu header .info .user-name,
.drop-down-menu header .info .email {
  font-size: 0.875rem;
  color: #314056;
}
.drop-down-menu .card-body {
  display: flex;
  flex-direction: column;
  padding: 12px 10px;
}
.drop-down-menu .card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #CFD5DE;
}
.drop-down-menu .card-body ul li {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4F5F7;
  font-family: "Inter", sans-serif;
}
body.menu {
  background: #FFFFFF;
}

.container {
  width: 1600px;
  margin: 0 auto;
}
.container .inner-container {
  width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

input {
  border: 1px solid transparent;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
}

button {
  border: 0;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

.md-secondary {
  display: flex;
  padding: 10px 16px;
  background: #FFFFFF;
  line-height: 16px;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 8px;
  border: 1px solid #CFD5DE;
}
.md-secondary .chevron-down {
  background: url("../img/icons/chevron-down.svg") no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  perspective: 1000px;
}

.email-icon {
  background: url("../img/email-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.help-icon {
  background: url("../img/help-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.master-card-icon {
  background: url("../img/icons/master-card-icon.svg") no-repeat;
  width: 34px;
  height: 24px;
}

.small-clsoe-icon {
  background: url("../img/small-close-icon.svg") no-repeat;
  width: 16px;
  height: 16px;
}

.api-icon {
  background: url("../img/icons/api-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.change-log-icon {
  background: url("../img/icons/change-log-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.chevron-down {
  background: url("../img/icons/chevron-down.svg") no-repeat;
  width: 10px;
  height: 5px;
}

.email-icon-two {
  background: url("../img/icons/email-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.invite-icon {
  background: url("../img/icons/invite-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.lightning-bolt-icon {
  background: url("../img/icons/lightning-bolt-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.logout-icon {
  background: url("../img/icons/logout-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.settings-icon {
  background: url("../img/icons/settings-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.slack-icon {
  background: url("../img/icons/slack-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.support-icon {
  background: url("../img/icons/support-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.team-icon {
  background: url("../img/icons/team-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.user-icon {
  background: url("../img/icons/user-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}
