.email-icon {
    background: url('../img/email-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.help-icon {
    background: url('../img/help-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.master-card-icon {
    background: url('../img/icons/master-card-icon.svg') no-repeat;
    width: 34px;
    height: 24px;
}

.small-clsoe-icon {
    background: url('../img/small-close-icon.svg') no-repeat;
    width: 16px;
    height: 16px;
}

.api-icon {
    background: url('../img/icons/api-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.change-log-icon {
    background: url('../img/icons/change-log-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.chevron-up {
    background: url('../img/icons/chevron-up.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.email-icon-two {
    background: url('../img/icons/email-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.invite-icon {
    background: url('../img/icons/invite-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.light-bulb-icon {
    background: url('../img/icons/light-bulb-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.logout-icon {
    background: url('../img/icons/logout-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

