.email-icon {
    background: url('../img/email-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.help-icon {
    background: url('../img/help-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.master-card-icon {
    background: url('../img/icons/master-card-icon.svg') no-repeat;
    width: 34px;
    height: 24px;
}

.small-clsoe-icon {
    background: url('../img/small-close-icon.svg') no-repeat;
    width: 16px;
    height: 16px;
}

.api-icon {
    background: url('../img/icons/api-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.change-log-icon {
    background: url('../img/icons/change-log-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.chevron-down {
    background: url('../img/icons/chevron-down.svg') no-repeat;
    width: 10px;
    height: 5px;
    
}

.email-icon-two {
    background: url('../img/icons/email-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.invite-icon {
    background: url('../img/icons/invite-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.lightning-bolt-icon {
    background: url('../img/icons/lightning-bolt-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.logout-icon {
    background: url('../img/icons/logout-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
} 


.settings-icon {
    background: url('../img/icons/settings-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.slack-icon {
    background: url('../img/icons/slack-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.support-icon {
    background: url('../img/icons/support-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.team-icon {
    background: url('../img/icons/team-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.user-icon {
    background: url('../img/icons/user-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}