.icon {
    display: inline-flex;
    float: left;
    .back-icon {
        background: url('../img/back-error-icon.png') no-repeat;
        width: 24px;
        height: 24px;
        margin-top: -3px;
        margin-right: 10px;
    }

    .close-icon {
        background: url('../img/profile/close-icon.png') no-repeat;
        width: 24px;
        height: 24px;

        &:hover {
            cursor: pointer;
        }
    }

    .layers-icon {
        background: url('../img/layers-icon.png') no-repeat;
        width: 48px;
        height: 48px;
    }

    .sisyphus-icon {
        background: url('../img/sisyphus-icon.png') no-repeat;
        width: 48px;
        height: 48px;
    }

    .catalog-icon {
        background: url('../img/catalog-icon.png') no-repeat;
        width: 48px;
        height: 48px;
        margin-right: 8px;
    }

    .notion-icon {
        background: url('../img/icons/notion-icon.png') no-repeat;
        width: 64px;
        height: 64px;
    }

    .slack-icon {
        background: url('../img/icons/slack-icon.png') no-repeat;
        width: 64px;
        height: 64px;
    }

    .google-drive-icon {
        background: url('../img/icons/google-drive-icon.png') no-repeat;
        width: 64px;
        height: 64px;
    }
    .intercom-icon {
        background: url('../img/icons/intercm-icon.png') no-repeat;
        width: 64px;
        height: 64px;
    }

    .jira-icon {
        background: url('../img/icons/jira-icon.png') no-repeat;
        width: 64px;
        height: 64px;
    }

    .dropbox-icon {
        background: url('../img/icons/dropbox-icon.png') no-repeat;
        width: 64px;
        height: 64px;
    }

    .user-icon {
        background: url('../img/dropdown-menu/user-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .settings-icon {
        background: url('../img/dropdown-menu/settings-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .lightning-bolt-icon {
        background: url('../img/dropdown-menu/lightning-bolt-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .email-icon {
        background: url('../img/dropdown-menu/email-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .team-icon {
        background: url('../img/dropdown-menu/team-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .invite-icon {
        background: url('../img/dropdown-menu/invite-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .change-log-icon {
        background: url('../img/dropdown-menu/change-log-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .slack-icon {
        background: url('../img/dropdown-menu/slack-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .support-icon {
        background: url('../img/dropdown-menu/support-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .api-icon {
        background: url('../img/dropdown-menu/api-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .logout-icon {
        background: url('../img/dropdown-menu/logout-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .search-icon {
        background: url('../img/blog/search-icon.png') no-repeat;
        width: 24px;
        height: 24px;
        margin-top: 9px;
        margin-right: 10px;
    }

    .brackets-icon {
        background: url('../img/icons/brackets.svg') no-repeat;
        width: 24px;
        height: 24px;
    }

    .checkmark-icon {
        background: url('../img/tables/check-mark-icon.svg') no-repeat;
        width: 24px;
        height: 24px;
    }

    .copy-icon {
        background: url('../img/modals/copy-icon.png') no-repeat;
        width: 24px;
        height: 24px;
    }

    .close-modal-icon {
        background: url('../img/modals/close-icon.png') no-repeat;
        width: 14px;
        height: 14px;
        margin-left: auto;
        margin-top: -70px;

        &:hover {
            cursor: pointer;
        }
    }

    .feature-icon {
        background: url('../img/modals/feature-icon.png') no-repeat;
        width: 56px;
        height: 56px;
        margin: 0 auto 24px auto;
    }

    .chat-icon {
        background: url('../img/banking/feature-icon-one.png') no-repeat;
        width: 56px;
        height: 56px;
    }

    .lightning-bolt-icon {
        background: url('../img/banking/feature-icon-two.png') no-repeat;
        width: 56px;
        height: 56px;
    }

    .manage-icon {
        background: url('../img/banking/feature-icon-three.png') no-repeat;
        width: 56px;
        height: 56px;
    }

    .check-list-icon {
        background: url('../img/banking/check-list-icon.png') no-repeat;
        width: 24px;
        height: 24px;
        margin-right: 15px;
    }
}