* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    font-family: $base-font-family;
    background: $clr-light-bg;
    width: 1680px;
    height: 100vh;
    overflow-x: hidden;
    
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.container-fluid {
    width: 100vw;
}

.section-heading {
    font-size: 60px;
}

.large-text {
    font-size: 20px;
    color: $clr-heading-text;
    margin-top: 24px;
}

button {
    border: none;

    &:hover {
        cursor: pointer;
    }
}



.section-sep {
    background: url('../img/blog/abstract-bg.png') center center no-repeat;
    width: 100%;
    object-fit: cover;
    height: 462px;
    overflow: hidden;;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 24px);
    margin-bottom: 24px;

    .box {
        width: 554px;
        margin-bottom: 30px;
    }
    
}