section {
    padding-top: 96px;
    overflow: hidden;
}

.showcase {
    background: $clr-showcase-bg;
    text-align: center;
    height: 390px;

    &.primary {
        background: $clr-primary;
    }
}
.blog-post {
    width: 384px;
    background: $clr-light-bg;

    box-shadow: $box-shadow;

    .featured-img {
        padding: 24px 24px 0 24px;
    }

    .post-info {
        padding: 24px;
        display: flex;
        flex-direction: column;

        .category {
            text-transform: capitalize;
            color: $clr-primary;
            margin-bottom: 12px;
        }


        a {
            text-decoration: none;
            font-size: 24px;
            margin-bottom: 8;
            line-height: 1.5rem;
            color: $clr-dark-link;
            text-transform: capitalize;
            
            &:hover {
                color: $clr-primary;
            }
        }

        .post-body {
            p {
                margin-top: 20px;
                color: $clr-body-copy;
                line-height: 1.5rem;
            }
        }

        .post-body {
            margin-top: -10px;
        }
    }

    .post-footer {
        display: flex;
        padding-left: 24px;
        padding-bottom: 24px;
        margin-top: 10px;

        .author-profile {
            margin-right: 12px;
        }

        .author-name {
            text-transform: capitalize;
            color: $clr-author-name-text;
            font-weight: 500;
        }

        .post-date {
            font-size: 14px;
            color: $clr-post-date;
            margin-top: 3px;
        }
    }
}

.blog-posts {
    margin-top: -475px;
}

.badge-purple {
    background: $clr-badge-purple-bg;
    color: $clr-badge-purple-text;
    text-transform: capitalize;
    border: 1px solid $clr-badge-purple-border;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 16px;
    display: inline-flex;
}

.input-bg {
    background: $clr-light-bg;
    display: inline-flex;
    padding: 5px 30px;
    width: 320px;
    height: 48px;
    box-shadow: $box-shadow;
    margin-top: 40px;
    border-radius: 8px;

    input {
        border: none;
        color: $clr-input-text;
        font-size: 16px;
        width: 100%;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: $clr-input-text;
        }
    }
}

.lg-btn-group {
    background: #F5EBFF;
    border: 1px solid $clr-lg-btn-group-border;
    padding: 10px 24px;
    border-radius: 8px;

    .load-more-posts-btn {
        font-size: 16px;
        color: $clr-primary;
        text-transform: capitalize;
        font-weight: 600;
        letter-spacing: 1px;
    }
}