@import "mixins";

.drop-down-menu {
    width: 243px;
    background: $clr-light-bg;
    box-shadow: $box-shadow;
    border: 1px solid $clr-base-borde;

    font-size: 14px;

    margin-left: 75px;
    margin-top: 20px;
    display: none;

    border-radius: 8px;
    .profile {
        display: flex;
        flex-direction: column;
    }
    header {
        display: flex;
        padding: 10px 24px;
       

        .avatar {
            margin-right: 12px;
        }

        border-bottom: 1px solid $clr-base-borde;

        .user-info {
            color: #4A5567;
        }
    }

    .card-body,
    .card-footer {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $clr-base-borde;
            
            padding: 10px 0;


        }

        li {
            padding-left: 24px;
            margin-bottom: 10px;


            

            &:last-child {
                margin-bottom: 0;
            }


        }

        a {
            text-decoration: none;
            color: #4A5567;
            text-transform: capitalize;
        }
    }

    .card-footer {
        border-bottom: 0;
    }


}

.show {
    display: flex;
}

.hidden {
    display: none;
}