@import "vars";
.dropdown-menu {
    width: 240px;
    display: flex;
    flex-direction: row;

    header {
        width: 240px;
        
        .profile {
            display: flex;
        }
    }

    
}