body {
    height: 100vh;
}
.overlay {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    overflow: hidden;
    background: #2B3645;

    .modal-one {
        width: 400px;
        // height: 420px;
        background: #fff;
        border-radius: 8px;

        .modal-header {
            padding: 24px 24px 0 24px;
        }

        .modal-body,
        .modal-footer {
            padding: 24px;
        }

        .button-group {
            display: flex;
            //margin-top: 24px;

            button {
                text-transform: capitalize;
            }
            .md-secondary,
            .md-primary {
                padding: 16px 24px 10px 24px;
            }
        }

        .modal-title {
            font-size: 20px;
            text-align: center;
            text-transform: capitalize;
        }

        .modal-body {
            .post-excerpt {
                font-size: 14px;
                margin-top: 24px;
                line-height: 1.5rem;

                color: #445469;
            }
        }
    }

    .modal-two {
        width: 400px;
        background: #fff;
        text-align: center;
        padding: 24px;

        .modal-header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        label {
            display: block;
            margin-bottom: 6px;
            font-size: 14px;
        }

        input {
            margin-bottom: 20px;
            width: 352px;
            height: 44px;
            border: 1px solid $clr-base-borde;
            padding-left: 14px;
            color: #0D1829;
            font-size: 16px;;

            &::-webkit-input-placeholder {
                color: #0D1829;
            }
        }

        .modal-title {
            font-size: 18px;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 6px;
        }

        .supportive-text {
            color: #445469;
            font-size: 14px;
        }

        form {
            text-align: left;
            margin-top: 20px;
        }

        .btn-group {
            display: flex;
            column-gap: 24px;
        }
    }

    .modal-three {
        background: #fff;
        width: 480px;
        height: 640px;

        .modal-title {
            font-size: 18px;
        }

        .input-bg {
            box-shadow: none;
        }

        .modal-header {
            display: flex;
            padding: 24px;

            .close-modal-icon {
                margin-top: 0;
                margin-left: auto;
                margin-right: -100px;
            }
        }
    }
}