.paginator {
    background: $clr-light-bg;
    box-shadow: $box-shadow;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $clr-base-borde;
    border-top: 0;
    max-height: 90px;

    ul {
        display:flex;
        list-style: none;

        a {
            text-decoration: none;
            color: $clr-heading-text;
        }

        li {
            
            &.active,
            &:hover {
                border-radius: 4px;
                background: $clr-primary;
                color: $clr-light-text;

                a {
                    color: $clr-light-text;
                }
            }

            a {
                padding:10px;
                font-size: 14px;
            }
        }
    }

   .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding:  24px;
        margin: 0;
        list-style: none;

        li {
            margin: 0 8px;
            padding: 0;
            font-size: 16px;
            font-weight: 500;
            color: $clr-heading-text;
            cursor: pointer;

            &:hover {
                color: $clr-primary;
            }
        }
        .prev-btn,
        .next-btn {
            padding: 8px 16px;
            text-transform: capitalize;
            background: $clr-light-bg;
            border: 1px solid $clr-base-borde;
            line-height: 20px;
        }

        .next-btn {
            display: flex;
            flex-direction: row;
        }
    }
}