@import "vars";

.settings-intergrations {
    padding: 96px 0;
    
    .settings-card {
        margin: 96px 0;
        display: flex;
        width: 1440px;
        margin: 0 auto;
        flex-direction: row;
        // border: 1px solid $clr-base-borde;
       
        .left-sidebar {
            width: 80px;
            height: 960px;
            background-color: $clr-primary;
            float: left;
            margin-right: 32px;
        }

        .main-content {
            background: #F9FAFB;
            width: 1358px;
            height: 960px;
            padding-top: 32px;
            margin-right: 80px + 32px;
            box-shadow: $box-shadow;
            border: 1px solid $clr-base-borde;

            .title {
                font-size: 18px;
                font-weight: 600;
                text-transform: capitalize;
            }

            p {
                font-size: 14px;
                margin-top: 6px;
            }

            .small-section-title {
                font-weight: 500;
                text-transform: capitalize;
                margin-top: 32px;
            }

            .integrations {
               display: flex;
               flex-direction: row;
               text-align: left;
               
                width: 1189px;
                
                padding-right: 32px;
            }

            .app {
                border: 1px solid $clr-base-borde;
                // border-bottom: 0;
                width: 396px;
                height: 193px;
                // color: #0f0;
                position: relative;
                // padding: 24px;
                background: $clr-light-bg;
                margin-right: 24px;
            
                .card-body {
                    padding: 24px;

                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .card {
                    display: flex;
                    flex-direction: column;
                }
                input {
                    position: absolute;
                    top: 24px;
                    right: 24px;
                }
                .app-title {
                    color: $clr-heading-text;
                    margin-left: 15px;
                    line-height: 46px;
                    text-transform: capitalize;
                    font-weight: 500;
                }

                p.desc {
                    font-size: 14px;
                    
                }

                .card-footer {
                    width: 396px;
                    height: 53px;
                    margin-top: 18px;
                    margin-left: -1px;
                    // padding: 24px;
                    border: 1px solid $clr-base-borde;
                
                    text-align: right;
                    background: $clr-light-bg;

                    a {
                        line-height: 53px;
                        text-transform: capitalize;
                        text-decoration: none;
                        padding-right: 24px;
                        font-size: 14px;
                        color: $clr-primary;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}