.table-card {
    box-shadow: $box-shadow;
    margin-top: 50px;
    border: 1px solid $clr-base-borde;

    .table-card-header {
        padding: 24px;
    }

    .invoice-table  {
        width: 100%;
        border-collapse: collapse;

        input {
            margin-right: 10px;
        }

        th {
            width: 176px;
            text-align: left;
            background: #F9FAFB;
            padding: 12px 24px;
            font-size: 14px;

            border: {
                top: 1px solid $clr-base-borde;
                bottom: 1px solid $clr-base-borde;
            }

            &:nth-child(4) {
                width: 337px;
            }

            &:nth-child(5) {
                width: 220px;
            }
        }

        tbody {
            .profile {
                margin-right: 12px;
            }
            td {
                padding: 12px 24px;
                font-size: 14px
            }

            .profile {
                float: left;
            }

            .links {
                display: flex;
                list-style: none;
                column-gap: 30px;
            }


            a {
                color: #445469;
                text-decoration: none;
                text-transform: capitalize;
                font-weight: 600;

                &.primary {
                    color: $clr-primary;
                }
            } 
        }    
        
    }

    .table-footer {
        padding: 24px;
    }
    
}