$font-primary: "Inter", sans-serif;

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;
$xl-desktop: 1920px;

$clr-body-bg: #F4F5F7;
$clr-base-border: #CFD5DE;
$clr-light-bg: #FFFFFF;

$clr-dark-text: #314056;
$clr-email-text: #445469;

$clr-primary: #8654E1;

$clr-primary-link: #445469;
$clr-footer-link: #445469;
