$base-font-family: "Inter", sans-serif;

$clr-base-borde: #CFD5DE;
$clr-primary: #8654E1;

$clr-design-badge-bg: #FAF5FF;
$clr-design-badge-text: #703FCD;
$clr-prodect-badge-bg:  #EDF8FF;
$clr-prodect-badge-text: #005EDB;
$clr-management-badge-bg: #FFF2FB;
$clr-management-badge-text: #D30076;

$clr-base-text: #475467;
