@import "../partials/mixins";
@import "../partials/vars";

.drop-down-menu {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    .chevron-down {

    }

    header {
        display: flex;
        padding: 12px 16px;
        .profile {
            img {
                max-height: 36px;
            }
        }

        .info {
            .user-name ,
            .email {
                @include font-size(14);
                @include font-color($clr-dark-text);
            }


        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        padding: 12px 10px;

        ul {
            @include unstyled-list();

            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $clr-base-border;

            li {
                display: flex;
            }
        }
    }
}
