@import "../partials/mixins";
@import "../partials/vars";

.drop-down-menu {
    .chevron-down {

    }

    header {
        display: flex;
        padding: 12px 16px;
        .profile {
            img {
                max-height: 36px;
            }
        }

        .info {
            .user-name {
                @include font-size(14);
                @include font-color($clr-dark-text);
            }

            .email {
                @include font-size(14);
                @include font-color($clr-email-text);

            }
        }
    }

    .card-body {
        ul {
            @include unstyled-list();

            border-bottom: 1px solid $clr-base-border;
        }
    }
}
