@import "../partials/vars";
@import "../partials/mixins";

.features-one {
    padding: 96px 0;

    .supportive-text {
        @include font-color($clr-primary);
        @include font-weight(600);
        @include font-size(16);
        @include line-height(24);

        margin-bottom: px-to-rem(8);
        text-transform: capitalize;
    }

    .section-title {
        @include font-color($clr-dark-text);
        @include font-weight(600);
        @include font-size(32);
        @include line-height(40);

        margin-bottom: 16px;
        text-transform: capitalize;
    }

    p {
        @include font-color($clr-feature-text);
        @include font-weight(400);
        @include font-size(18);
        @include line-height(27);

        margin-bottom: 32px;
    }



    .left {
        width: 48%;
    }

    .right {
        margin-left: auto;
    }

    .features-list {
        @include flex();

        .icon {
            @include size(56, 56);
            float: left;
        }
    }
}
.feature-list {
    @include flex();
    @include unstyled-list();

    .feature-list {
        display: flex;
        flex-direction: column;

        .feature-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            &.left {
                //width: 60px;
                .icon {
                    float: left;
                }
                .title {
                    margin-top: 0;
                }

                .description {
                    margin-bottom: 0;
                }
            }

            &.right {
                //width: 48%;
                margin-left: auto;
            }
        }
    }

    .right {
        margin-left: auto;
    }
}
