@import "../partials/mixins";
@import "../partials/vars";

.pricing-table-one {


    .pricing-table {
        @include flex();

        flex-direction: column;
        padding: 96px 28px 0 112px;

        .supportive-text {
            @include font-color($clr-primary);
            @include font-size(14);

            margin-bottom: 12px;
        }

        .title {
            font-weight: normal;
            text-transform: capitalize;
            margin-bottom: 24px;
            @include font-size(48);
        }

        p {
            @include font-color($clr-dark-text);
            @include font-size(20);

            margin-bottom: 24px;
        }

        .pricing-cards {
            .pricing-card {
                @include size(384, 570);
                border: 1px solid $clr-base-border;

                .card-header {
                    @include flex();
                    flex-direction: column;
                    align-items: center;
                    padding: 32px 0;
                    background: $clr-light-bg;
                    border-radius: 8px 8px 0 0;
                    //border: 1px solid $clr-base-border;
                    border-bottom: none;

                    .title {
                        @include font-size(20);
                        text-transform: capitalize;
                        margin-bottom: 8px;
                    }

                    .price {
                        @include font-size(48);
                        font-weight: bold;
                        margin-bottom: 8px;
                    }

                    .per-month {
                        @include font-size(16);
                        @include font-color($clr-dark-text);
                    }
                }

                .card-body {
                    @include flex();
                    flex-direction: column;
                    padding: 32px;
                    ul {
                        @include unstyled-list();
                        @include flex();

                        flex-direction: column;
                    }

                    li {
                        @include flex();

                        text-transform: capitalize;
                        margin-bottom: 16px;

                        @include font-color($clr-pricing-list-text);
                        @include font-size(16);

                        .icon {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    /***** end of pricing-table *****/

    .features {
        @include flex();
        flex-wrap: wrap;
        flex-direction: row;

        padding: 96px 28px 60px 112px;

        background: $clr-features-bg;
        .feature {
            @include size(384, 222);
            margin-left: 42px;
            margin-bottom: 64px;
            column-gap: 32px;
            &:nth-child(1) {
                margin-left: 0;
                margin-bottom: 0;
            }
            .icon {
                display: block;
            }

            .title {
                @include font-size(20);
                text-transform: capitalize;
                padding-top: 20px;
                margin-bottom: 8px;
            }

            p {
                @include font-size(16);
                @include font-color($clr-feature-text);
            }

            .learn-more-link {
                @include font-size(16);
                @include font-color($clr-primary);
                text-decoration: none;
                text-transform: capitalize;
            }

            .learn-more {
                @include flex();

                margin-top: 20px;
            }
        }
    } /***** end of features *****/

    .faq {
        padding: 96px 32px;

        .title {
            @include font-size(18);
            @include font-weight(600);
        }

        .supportive-text {
            @include font-color($clr-primary);
            @include font-size(36);

            font-weight: bold;
        }

        p {
            @include font-size(20);

            margin-top: 20px;
        }

        .questions {
            margin-top: 64px;
        }
    }

    .post-footer {
        @include flex();
        line-height: 38px;

        .logo {
            @include flex();
        }

        .copyright {
            margin-left: auto;
            @include font-color($clr-dark-text);
            @include font-size(14);
        }
    }
}
